@use '~/styles/mixins' as *;

.Page404 {
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: calc(100vh - 82px);
	padding: 24px 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
}

.image {
	position: relative;
	width: 100vw;
	max-width: 328px;
	height: 100vh;
	max-height: 135px;

	@include useScreen('tablet-sm') {
		max-width: 659px;
		max-height: 250px;
	}
	@include useScreen('tablet-md') {
		max-width: 898px;
		max-height: 342px;
	}
}

.title {
	max-width: 220px;
	text-align: center;
	@include useScreen('mobile-lg') {
		max-width: 100%;
	}
}

.text {
	text-align: center;
}

.button {
	min-width: 214px;
}
