@use '~/styles/mixins' as *;

.Projects {
	scroll-margin-top: 80px;
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: var(--color--primary-1);
	@include useScreen('desktop-sm') {
		padding-top: 48px;
		padding-bottom: 48px;
	}
}

.wrapper {
	height: 552px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	@include useScreen('mobile-xl') {
		height: 600px;
	}
	@include useScreen('tablet-sm') {
		gap: 48px;
		height: 613px;
	}
}

.title {
	padding: 4px 0 24px 0;
	@include useScreen('tablet-sm') {
		padding: 4px 0 48px 0;
	}
	@include useScreen('desktop-sm') {
		padding: 4px 0 64px 0;
	}
}

.blockArrow {
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 99px;
	height: 48px;
	cursor: pointer;
}

.arrow {
	background-color: transparent;
	border-style: none;
}

.button {
	width: 214px;
	margin: 24px auto;
	@include useScreen('mobile-xl') {
		margin: 32px 0 0 auto;
	}
	@include useScreen('desktop-sm') {
		margin: 10px 0 0 auto;
	}
}

.projectContainer {
	min-width: 360px;
	padding: 0 16px 16px 16px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	@include useScreen('tablet-sm') {
		padding: 0px 42px 42px 42px;
		max-width: calc(100vw - 100px);
	}
	@include useScreen('desktop-md') {
		max-width: 1392px;
	}
}

.aboutProject {
	display: flex;
	flex-direction: column;
}
