@use '~/styles/mixins' as *;

.Projects {
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: var(--color--primary-1);
	@include useScreen('desktop-sm') {
		padding-top: 48px;
		padding-bottom: 48px;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 552px;
	gap: 24px;
	@include useScreen('mobile-xl') {
		height: 600px;
	}
	@include useScreen('tablet-sm') {
		height: 613px;
		gap: 48px;
	}
}

.blockArrow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: center;
	width: 99px;
	height: 48px;
	cursor: pointer;
}

.arrow {
	border-style: none;
	background-color: transparent;
}

.button {
	width: 214px;
	margin: 24px auto;
	@include useScreen('mobile-xl') {
		margin: 32px 0 0 auto;
	}
	@include useScreen('desktop-sm') {
		margin: 10px 0 0 auto;
	}
}

.projectContainer {
	max-width: 100%;
	@include useScreen('tablet-sm') {
		max-width: 600px;
	}
	@include useScreen('desktop-sm') {
		max-width: 1280px;
	}
	@include useScreen('desktop-md') {
		max-width: 1392px;
	}
}

.aboutProject {
	display: flex;
	flex-direction: column;
}
