@use '~/styles/mixins' as *;

.Text {
	color: var(--color--secondary-4);
}

.h1,
.h2,
.header,
.button,
.various1 {
	color: var(--color--primary-3);
}

.h4 {
	color: var(--color--secondary-2);
}

.various2 {
	color: var(--color--primary-2);
}

.h1 {
	font-family: var(--font-family--unbounded);
	font-size: var(--font-size--h1-mobile);
	line-height: 140%;
	font-weight: 600;
	@include useScreen('tablet-sm') {
		font-size: var(--font-size--h1);
	}
}

.h2 {
	font-family: var(--font-family--unbounded);
	font-size: var(--font-size--h2-mobile);
	line-height: 140%;
	font-weight: 600;
	@include useScreen('tablet-sm') {
		font-size: var(--font-size--h2);
		line-height: 100%;
	}
}

.h3 {
	font-size: var(--font-size--h3-mobile);
	line-height: 150%;
	font-weight: 600;
	@include useScreen('tablet-sm') {
		font-size: var(--font-size--h3);
	}
}

.h4 {
	font-size: var(--font-size--h4);
	line-height: 100%;
	font-weight: 700;
}

.subtitle {
	font-size: var(--font-size--subtitle-mobile);
	line-height: 150%;
	font-weight: 400;
	@include useScreen('tablet-sm') {
		font-size: var(--font-size--subtitle);
	}
}

.p {
	font-size: var(--font-size--p);
	line-height: 150%;
	font-weight: 400;
}

.button {
	font-size: var(--font-size--button-mobile);
	line-height: 150%;
	font-weight: 600;
	@include useScreen('tablet-sm') {
		font-size: var(--font-size--button);
	}
}

.header {
	font-size: var(--font-size--header-mobile);
	line-height: 150%;
	font-weight: 500;
	@include useScreen('tablet-sm') {
		font-size: var(--font-size--header);
	}
}

.footer {
	font-size: var(--font-size--footer-mobile);
	line-height: 150%;
	font-weight: 400;
	@include useScreen('desktop-md') {
		font-size: var(--font-size--footer);
	}
}

.various1 {
	font-size: var(--font-size--various1-mobile);
	line-height: 100%;
	font-weight: 500;
	@include useScreen('desktop-md') {
		font-size: var(--font-size--various1);
		font-weight: 400;
	}
}

.various2 {
	font-size: var(--font-size--various2);
	line-height: 100%;
	font-weight: 600;
}

.various3 {
	font-family: var(--font-family--unbounded);
	font-size: var(--font-size--various3-mobile);
	line-height: 130%;
	font-weight: 400;
	@include useScreen('tablet-sm') {
		font-size: var(--font-size--various3);
	}
}
