.ImgUpload {
	display: flex;
	width: 752px;
	height: 300px;

}

.imgBlock {
	display: flex;
	align-items: center;
	width: 712px;
	height: 300px;
	border: 1px solid var(--color--secondary-2);
	text-align: center;
}

.img {
	margin: 0 auto;
}

.iconBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.icon {
	margin: 8px;
}