.ImgUpload {
	display: flex;
	width: 752px;
	height: 300px;
}

.imgBlock {
	display: flex;
	position: relative;
	align-items: center;
	width: 712px;
	height: 300px;
	text-align: center;
}

.imgDefault {
	margin: 0 auto;
}

.img {
	object-fit: cover;
}

.iconBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.icon {
	display: block;
	margin: 8px;
}

.hidden {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	line-height: 0;
}
