@use '~/styles/mixins' as *;

.FooterLayout {
	padding-top: 48px;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	@include useScreen('tablet-sm') {
		padding-top: 80px;
		flex-direction: row;
	}
	@include useScreen('desktop-sm') {
		padding-top: 100px;
	}
}
.blue {
	position: relative;
	z-index: 1;

	margin: 0 16px;
	padding: 19px 23px 31px 23px;

	background-color: var(--color--primary-3);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;

	width: 92.7vw;
	height: 310px;
	@include useScreen('tablet-sm') {
		align-items: flex-start;
		height: 288px;
		max-width: 345px;
		padding: 23px 28px 35px 16px;
		margin: 0;
	}
	@include useScreen('tablet-xl') {
		min-width: 600px;
		height: 441px;
		padding: 77px 80px 77px 171px;
		gap: 40px;
	}
}
.grey {
	width: 100vw;
	margin-top: -41px;
	padding: 73px 0 16px 0;
	background-color: var(--color--shades-2);

	height: 320px;
	@include useScreen('tablet-sm') {
		padding: 34px 34px 34px 32px;
		margin: 17px -32px 17px 0;
		height: 254px;
	}
	@include useScreen('tablet-xl') {
		height: 370px;
		max-width: 960px;
		padding: 50px 80px 62px;
		margin: 35px -120px 35px 0;
		position: relative;
		z-index: 2;
	}
}
.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	padding-bottom: 12px;
	background-color: var(--color--shades-2);

	@include useScreen('tablet-sm') {
		flex-direction: row;
		gap: 22px;
	}
	@media screen and (min-width: 800px) {
		gap: 40px;
	}
	@include useScreen('tablet-md') {
		gap: 100px;
	}
	@include useScreen('tablet-lg') {
		gap: 170px;
	}
	@include useScreen('tablet-xl') {
		gap: 50px;
	}
	@include useScreen('desktop-sm') {
		gap: 135px;
	}
	@include useScreen('desktop-md') {
		gap: 186px;
	}
}
.flexGrey {
	@include useScreen('tablet-sm') {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
	}
}
.link {
	color: var(--color--secondary-4);
}
.logoAndCallToAction {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.icons {
	display: flex;
	justify-content: center;
	gap: 24px;
	@include useScreen('tablet-xl') {
		gap: 32px;
	}
}
.contacts {
	width: 282px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	@include useScreen('tablet-sm') {
		padding-left: 12px;
		width: 294px;
	}
	@include useScreen('tablet-xl') {
		width: 360px;
		gap: 32px;
	}
}
.iconAndText {
	display: flex;
	align-items: center;
	gap: 16px;
}
.whiteColor {
	color: var(--color--shades-1);
}

.socialNetworks {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 22px;
	@include useScreen('tablet-sm') {
		flex-direction: row;
		gap: 20px;
	}
	@include useScreen('tablet-xl') {
		gap: 28px;
		width: 348px;
	}
}
.fontSizeCallToAction {
	font-size: 16px;
}
.fontSizeBaza {
	font-size: 11px;
}
.widthCallToAction {
	width: 171px;
	@include useScreen('tablet-xl') {
		width: 256px;
	}
}
.widthBaza {
	width: 205px;
	@include useScreen('tablet-xl') {
		width: 462px;
	}
}
.navigation {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 240px;
	flex-wrap: wrap;
	column-gap: 32px;
	row-gap: 16px;
	@include useScreen('tablet-sm') {
		width: 100%;
		flex-direction: column;
	}
	@include useScreen('tablet-xl') {
		row-gap: 24px;
	}
}
.navigationItem {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
