@use '~/styles/mixins' as *;

.FooterLayout {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 48px;
	@include useScreen('tablet-sm') {
		flex-direction: row;
		padding-top: 80px;
	}
	@include useScreen('tablet-md') {
		padding-top: 100px;
	}
}

.blue {
	display: flex;
	z-index: 1;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 92.7vw;
	height: 310px;
	margin: 0 16px;
	padding: 19px 23px;
	background-color: var(--color--primary-3);
	gap: 32px;
	@include useScreen('tablet-sm') {
		max-width: 318px;
		height: 318px;
		margin: 0;
		padding: 23px 16px;
	}
	@include useScreen('tablet-xl') {
		min-width: 599px;
		height: 441px;
		padding: 77px 80px 77px 171px;
		gap: 40px;
	}
}

.grey {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	margin-top: -41px;
	padding: 73px 25px 16px;
	user-select: none;
	background-color: var(--color--shades-2);
	gap: 23px;

	@include useScreen('tablet-sm') {
		flex-direction: row;
		margin: 0 -32px 0 0;
		padding: 26px 50px 26px 32px;
		gap: 8px;
	}
	@include useScreen('tablet-lg') {
		padding: 26px 100px 26px 32px;
	}
	@include useScreen('tablet-xl') {
		z-index: 2;
		position: relative;
		max-width: 960px;
		height: 370px;
		margin: 35px -120px 35px 0;
		padding: 50px 70px 0 80px;
		gap: 66px;
	}
}

.leftContent {
	@include useScreen('tablet-sm') {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 205px;
		gap: 87px;
	}
	@include useScreen('tablet-xl') {
		width: max-content;
		gap: 0px;
	}
}

.logoAndCallToAction {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.icons {
	display: flex;
	justify-content: center;
	gap: 24px;
	@include useScreen('tablet-xl') {
		gap: 32px;
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	@include useScreen('tablet-xl') {
		gap: 32px;
	}
}

.iconAndText {
	display: flex;
	align-items: center;
	gap: 16px;
}

.whiteColor {
	@media screen and (max-width: 359px) {
		font-size: 13.93px;
	}
	max-width: 242px;
	color: var(--color--shades-1);
	@include useScreen('tablet-md') {
		max-width: 272px;
	}
}

.socialNetworks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 22px;
	@include useScreen('tablet-sm') {
		gap: 18px;
	}
}

.fontSizeCallToAction {
	font-size: 16px;
}

.fontSizeBaza {
	font-size: 11px;
}

.widthCallToAction {
	width: 171px;
	@include useScreen('tablet-xl') {
		width: 256px;
	}
}

.widthBaza {
	width: 205px;
	@include useScreen('tablet-xl') {
		width: 282px;
	}
}

.rulesProtected {
	width: 200px;
	text-align: center;
	@include useScreen('mobile-md') {
		width: 100%;
	}
}

.navigation {
	flex-direction: column;
	row-gap: 16px;
	@include useScreen('tablet-sm') {
		width: max-content;
	}
}

.underline::after {
	top: 25px;
	@include useScreen('tablet-md') {
		top: 30px;
	}
}

.rightContent {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	row-gap: 16px;
	@include useScreen('tablet-md') {
		flex-direction: row;
		column-gap: 70.5px;
	}
}

.greyBlockText {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 12px 0;
	row-gap: 48px;
}

.iconSocial {
	color: var(--color--shades-1);
	&:hover {
		color: var(--color--warning-1);
	}
}
