.elementsContainer {
	display: flex;
	align-items: center;
	column-gap: 24px;
}

.element {
	display: flex;
	align-items: center;
	column-gap: 16px;
	cursor: pointer;
}

.input {
	display: grid;
	width: 24px;
	height: 24px;
	margin: 0;
	border: 2px solid var(--color--primary-3);
	border-radius: 4px;
	color: var(--color--primary-3);
	font: inherit;
	cursor: pointer;
	background-color: none;
	-webkit-appearance: none;
	appearance: none;
	place-content: center;

	&::before {
		width: 20px;
		height: 20px;
		border-radius: 2px;
		content: '';
		background-color: var(--color--primary-3);
		transition: 60ms transform ease-in-out;
		transform: scale(0);
		clip-path: polygon(11% 55%, 19% 48%, 41% 70%, 79% 15%, 88% 22%, 43% 88%);
	}

	&:checked::before {
		transform: scale(1);
	}
}
