@use "~/styles/mixins" as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	@include useScreen("tablet-xl") {
		flex-direction: row;
		gap: 24px;
	}
}

.formContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	row-gap: 24px;
	@include useScreen("tablet-sm") {
		row-gap: 40px;
	}
	@include useScreen("tablet-xl") {
		width: 519px;
	}
}

.headingContainer {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	@include useScreen("tablet-sm") {
		row-gap: 24px;
	}
}

.description {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.alert {
	display: flex;
	column-gap: 8px;
}

.form {
	width: 100%;
}
