.elementsContainer {
	display: flex;
	align-items: center;
	column-gap: 24px;
}

.element {
	display: flex;
	align-items: center;
	column-gap: 16px;
	cursor: pointer;
}

.input {
	-webkit-appearance: none;
	appearance: none;
	place-content: center;
	display: grid;
	width: 24px;
	height: 24px;
	margin: 0;
	border: 2px solid var(--color--primary-3);
	border-radius: 50%;
	color: var(--color--primary-3);
	font: inherit;
	cursor: pointer;
	background-color: none;

	&::before {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		content: '';
		background-color: var(--color--primary-3);
		transition: 60ms transform ease-in-out;
		transform: scale(0);
	}

	&:checked {
		background-color: var(--color--shades-1);
	}

	&:checked::before {
		transform: scale(0.8);
	}
}
