.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	user-select: none;
	border-radius: 5px;
	height: 64px;
	width: 64px;

	border: 2px solid var(--color--primary--3);
	background-color: var(--bg--color-main-page);

	&:hover {
		border: 2px solid var(--color--gradient--1);
	}
	&:active {
		border-style: none;
		background-color: var(--color--primary--3);
	}

	.label {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
