.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	user-select: none;
	border-radius: 5px;
	height: 64px;
	width: 64px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--color--primary-3);
	background: none;

	&:hover {
		border-image: var(--color--gradient-1);
	}
	&:active {
		border-style: none;
		background-color: var(--color--primary-3);
	}
}

.label {
	display: flex;
	justify-content: center;
	align-items: center;
}
