.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
	height: 48px;
}

.label {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
	color: inherit;
}

.primary {
	border-style: none;
	color: var(--color--shades-1);
	background: var(--color--primary-2);

	&:hover {
		color: var(--color--secondary-4);
		background: var(--color--gradient-1);
	}
	&:active {
		color: var(--color--shades-1);
		background: var(--color--primary-4);
	}
	&.disabled {
		color: var(--color--secondary-2);
		background: var(--color--secondary-1);
		pointer-events: none;
		user-select: none;
	}
}

.secondary {
	border-width: 2px;
	border-style: solid;
	border-color: var(--color--primary-3);
	color: var(--color--primary-3);
	background: var(--color--shades-1);

	&:hover {
		border-color: transparent;
		color: var(--color--secondary-4);
		background: linear-gradient(var(--color--shades-1), var(--color--shades-1)) padding-box,
			var(--color--gradient-1) border-box;
	}
	&:active {
		border-style: none;
		color: var(--color--shades-1);
		background: var(--color--primary-4);
	}
	&.disabled {
		border: 2px solid var(--color--secondary-1);
		color: var(--color--secondary-2);
		pointer-events: none;
		user-select: none;
	}
}
