.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 10px;
	user-select: none;
	border-radius: 5px;
	height: 48px;
}

.label {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
}

.primary {
	border-style: none;
	color: var(--color--shades-1);
	background-color: var(--color--primary-2);

	&:hover {
		color: var(--color--secondary-4);
		background: var(--color--gradient-1);
	}
	&:active {
		color: var(--color--shades-1);
		background-color: var(--color--primary-4);
	}
}

.secondary {
	border-width: 2px;
	border-style: solid;
	border-color: var(--color--primary-3);
	color: var(--color--primary-3);
	background-color: var(--color--shades-1);

	&:hover {
		border-image: var(--color--gradient-1) 1;
		color: var(--color--secondary-4);
	}
	&:active {
		border-style: none;
		color: var(--color--shades-1);
		background-color: var(--color--primary-4);
	}
}

.disabledPrimary {
	color: var(--color--secondary--2);
	background: var(--color--secondary--1);
}

.disabledSecondary {
	border: 2px solid var(--color--secondary--1);
	color: var(--color--secondary-2);
}
