.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 8px;
	user-select: none;
	border-radius: 5px;
	height: 48px;

	.label {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.medium {
	width: 214px;
}
.big {
	width: 100%;
}

.fill {
	border-style: none;
	color: var(--color--shades--1);
	background-color: var(--color--primary--2);

	&:hover {
		color: var(--color--secondary--4);
		background-color: var(--color--gradient--1);
	}
	&:active {
		color: var(--color--shades--1);
		background-color: var(--color--primary--4);
	}
}

.outline {
	border: 2px solid var(--color--primary--3);
	color: var(--color--primary--3);
	background-color: var(--color--shades--1);

	&:hover {
		border: 2px solid var(--color--gradient--1);
		color: var(--color--secondary--4);
	}
	&:active {
		border-style: none;
		color: var(--color--shades--1);
		background-color: var(--color--primary--4);
	}
}

.disabled {
	color: var(--color--secondary--2);
	background: var(--color--secondary--1);
}
