@use '~/styles/mixins' as *;

.AboutUs {
	padding: 48px 16px;

	@include useScreen('tablet-sm') {
		padding: 80px 32px;
	}
	@include useScreen('desktop-sm') {
		padding: 100px 80px;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
	@include useScreen('tablet-sm') {
		gap: 40px;
	}
}

.about {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 24px;
	@include useScreen('tablet-sm') {
		gap: 40px;
	}
	@include useScreen('desktop-sm') {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 40px;
	}
}

.header {
	display: flex;
	flex-direction: column;
	gap: 8px;
	& h3 {
		width: 246px;
		@include useScreen('mobile-lg') {
			width: 100%;
		}
	}
}

.block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;

	&:nth-child(2) .text {
		@include useScreen('desktop-sm') {
			order: 1;
		}
	}

	@include useScreen('desktop-sm') {
		flex-direction: row;
		align-items: center;
		gap: 80px;
	}
}

.history {
	display: flex;
	flex-direction: column;
	gap: 8px;
	@include useScreen('tablet-sm') {
		gap: 24px;
	}
}

.text {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.employee {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.image {
	width: 100%;

	@include useScreen('mobile-xl') {
		height: 400px;
	}
	@include useScreen('tablet-sm') {
		height: 432px;
	}
	@include useScreen('tablet-lg') {
		height: 480px;
	}
	@include useScreen('desktop-sm') {
		width: 600px;
		height: 450px;
	}
}

.list {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 0;
	& .item:first-child p {
		@include useScreen('tablet-sm') {
			width: 462px;
		}
	}
}

.item {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 16px;

	& p {
		width: 264px;
		@include useScreen('mobile-lg') {
			width: 100%;
		}
	}
}
