@use '~/styles/mixins' as *;

.NavigationAndDocuments {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	row-gap: 16px;
	@include useScreen('tablet-md') {
		flex-direction: row;
		column-gap: 70.5px;
	}
}

.navigation {
	flex-direction: column;
	row-gap: 16px;
	@include useScreen('tablet-sm') {
		width: max-content;
	}
}

.underline::after {
	top: 25px;
	@include useScreen('tablet-md') {
		top: 30px;
	}
}
