.ImgUpload {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 752px;
	height: 300px;
}
.ImgGradient{
	position: absolute;
   width: 712px;
	height: 300px;
   transition: all .3s ease;
}
.liteGradient{
	background: var(--color--gradient-4);
}
.darkGradient{
	background: var(--color--gradient-3);
}
.text{
	display: flex;
	position: absolute;
	top: 50px;
	left: 20px;
	flex-direction: column;
	text-wrap: balance;
	gap: 14px;
}
.heading{
	width: 321px;
	// font-size: ;
}
.white {
	color: var(--color--shades-1);
}

.blue {
	color: var(--color--primary-3);
}

.black {
	color: var(--color--secondary-4);
}
