@use '~/styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	@include useScreen('tablet-sm') {
		gap: 32px;
	}
	@include useScreen('desktop-sm') {
		gap: 77px;
	}
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider {
	height: 346px;
	display: flex;
	gap: 16px;
	padding-right: 40px;
	@include useScreen('mobile-lg') {
		padding-right: 0;
	}
	@include useScreen('tablet-sm') {
		height: 573px;
		gap: 24px;
	}
}

.cardWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 573px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	cursor: grab;
}

.arrow {
	background-color: var(--color--shades-1);
	border-style: none;
}

.blockArrow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 99px;
	height: 48px;
	top: 96%;
	position: absolute;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 4;
	@include useScreen('desktop-sm') {
		top: 50%;
		width: 100%;
	}
}

.dots {
	min-height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 18px;
}

.img {
	width: 100%;
	height: 100%;
}
