@use '~/styles/mixins' as *;

.OurActivity {
	padding: 0 0 0 16px;
	@include useScreen('mobile-lg') {
		padding: 0 16px;
	}
}

.container {
	display: flex;
	flex-direction: column;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.title {
	width: 328px;
	padding-bottom: 24px;
	@include useScreen('mobile-lg') {
		width: 100%;
	}
	@include useScreen('tablet-sm') {
		padding-bottom: 32px;
	}
	@include useScreen('desktop-sm') {
		padding-bottom: 77px;
	}
}

.slider {
	height: 346px;
	display: flex;
	gap: 16px;
	padding-right: calc(100% - 286px);
	@include useScreen('mobile-lg') {
		padding-right: 0;
	}
	@include useScreen('tablet-sm') {
		height: 573px;
		gap: 24px;
	}
}

.cardWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 573px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	cursor: grab;
}

.arrow {
	background-color: var(--color--shades-1);
	border-style: none;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	z-index: 4;
}

.leftArrow {
	left: 0;
}

.rightArrow {
	right: 0;
}

.dots {
	min-height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 18px;
	padding-right: 16px;
	@include useScreen('mobile-lg') {
		padding-right: 0;
	}
}

.img {
	width: 100%;
	height: 100%;
}
