.elementContainer {
	max-width: fit-content;
}

.label {
	padding: 4px 8px;
	border-radius: 5px;
	color: var(--color--secondary-4);
	text-transform: uppercase;
}

.success {
	background-color: var(--color--success-1);
}

.info {
	background-color: var(--color--secondary-1);
}

.warn {
	background-color: var(--color--warning-1);
}

.alert {
	background-color: var(--color--error-1);
}
