@use '~/styles/mixins' as *;

.MainLayout {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: 48px;

	@include useScreen('tablet-sm') {
		gap: 80px;
	}

	@include useScreen('desktop-sm') {
		gap: 100px;
	}
}
