@use '~/styles/mixins' as *;

.Icon {
	--icon--background-color: var(--color--secondary-4);
	--icon--background-color-hover: var(--color--secondary-4);
	--icon--background-color-click: var(--color--secondary-4);
	--icon--background-color-disabled: var(--color--secondary-4);
	--icon--background-color-disabled-opacity: 60%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background-color: var(--icon--background-color);

	&.clickable {
		user-select: none;
		@include useOnHover {
			background-color: var(--icon--background-color-hover);
		}
		@include useOnClick {
			background-color: var(--icon--background-color-click);
		}
	}

	@include useDisabled(var(--icon--background-color-disabled-opacity)) {
		cursor: not-allowed;
		pointer-events: none;
		background-color: var(--icon--background-color-disabled);
	}

	@include useSize('tiny') {
		width: 12px;
		height: 12px;
	}

	@include useSize('small') {
		width: 16px;
		height: 16px;
	}

	@include useSize('default') {
		width: 24px;
		height: 24px;
	}

	@include useSize('medium') {
		width: 32px;
		height: 32px;
	}

	@include useSize('large') {
		width: 36px;
		height: 36px;
	}

	@include useSize('extra') {
		width: 48px;
		height: 48px;
	}
}
