@use '~/styles/mixins' as *;

.navigation {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.rowHeader {
	column-gap: 16px;
}
.rowFooter {
	width: 240px;
	flex-wrap: wrap;
	column-gap: 32px;
	row-gap: 16px;
	@include useScreen('tablet-sm') {
		width: 100%;
		flex-direction: column;
	}
	@include useScreen('tablet-xl') {
		row-gap: 24px;
	}
}
.column {
	flex-direction: column;
}
.navigationItem {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	position: relative;
	text-decoration: none;
	&:hover {
		&::after {
			position: absolute;
			top: 35px;
			left: 0;
			content: '';
			width: 100%;
			height: 2px;
			opacity: 1;
			background: var(--color--gradient-1);
		}
		p {
			color: var(--color--warning-1);
		}
	}
	&:active,
	&:focus {
		&::after {
			position: absolute;
			top: 35px;
			left: 0;
			content: '';
			width: 100%;
			height: 2px;
			opacity: 1;
			background: var(--color--primary-3);
		}
		p {
			color: var(--color--primary-3);
		}
	}
}
