.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 572px;
	min-height: calc(100vh - 82px);
	padding: 24px 0;
	row-gap: 48px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.button {
	width: 214px;
}
