@use '~/styles/mixins' as *;

.modalContainer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color--opacity-2);
	z-index: 1000;
}

.modal {
	display: flex;
	max-height: calc(100vh - 32px);
	max-width: 100vw;
	flex-direction: column;
	border-radius: 5px;
	background-color: var(--color--shades-1);
	overflow: auto;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.decor {
	height: 14px;
}

.red {
	background-color: var(--color--error-1);
}

.blue {
	background-color: var(--color--primary-3);
}

.close {
	display: flex;
	justify-content: flex-end;
}

.icon {
	margin: 24px 24px 0 0;
	color: var(--color--secondary-4);
	@include useScreen('tablet-sm') {
		margin: 32px 32px 0 0;
	}
}
