@use '~/styles/mixins' as *;

.OurAchievements {
	padding: 32px 16px;
	background-color: var(--color--primary-1);
	@include useScreen('tablet-sm') {
		padding: 32px;
	}
	@include useScreen('desktop-md') {
		padding: 48px 80px;
	}
}
.flexContainer,
.blocks,
.block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.flexContainer {
	gap: 24px;
	margin: 0 auto;
	max-width: 328px;

	@include useScreen('tablet-sm') {
		max-width: 704px;
	}
	@include useScreen('desktop-md') {
		gap: 32px;
		max-width: 1280px;
	}
}

.blocks {
	width: 100%;
	gap: 24px;
	@include useScreen('tablet-sm') {
		flex-direction: row;
	}
	@include useScreen('desktop-md') {
	}
}
.block {
	width: 100%;
	height: 220px;

	background: var(--color--shades-1);
	box-shadow: 0px 10px 32px -4px rgba(24, 39, 75, 0.1), 0px 6px 14px -6px rgba(24, 39, 75, 0.12);

	padding: 64.5px 48px;
	gap: 16px;

	@include useScreen('mobile-md') {
		width: 328px;
	}

	@include useScreen('tablet-sm') {
		padding: 66.5px 16px;
		width: 219px;
	}
	@include useScreen('desktop-md') {
		padding: 48px 60px 48px 64px;
		width: 411px;
	}
}

.achievement {
	display: flex;
	align-items: flex-end;
	gap: 8px;
	@include useScreen('tablet-sm') {
		gap: 4px;
	}
	@include useScreen('desktop-md') {
		gap: 16px;
	}
}
.button {
	max-width: 214px;
	margin: 0 auto;
	@include useScreen('tablet-sm') {
		margin: 0 0 0 auto;
	}
}
.title {
	color: var(--color--secondary-3);
}
