@use "~/styles/mixins" as *;

.Tabs {
	display: flex;
	flex-direction: column;
	width: 298px;
	height: 100%;
	padding: 24px;
	border-radius: 5px;
	background-color: var(--color--shades-1);
	row-gap: 16px;
}

.active {
	@include useActive;
}
