@use '~/styles/mixins' as *;

.Buttons {
	display: flex;
	flex-direction: column;
	column-gap: 32px;
	row-gap: 16px;
	@include useScreen('tablet-sm') {
		row-gap: 24px;
	}
	@include useScreen('desktop-md') {
		flex-direction: row;
	}
}
