@use '~/styles/mixins' as *;

.flexColumn {
	display: flex;
	flex-direction: column;
	gap: 24px;
	@include useScreen('desktop-sm') {
		gap: 48px;
	}
}

.flexContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 24px;
	@include useScreen('tablet-sm') {
		column-gap: 15px;
	}
	@include useScreen('desktop-sm') {
		column-gap: 168px;
		row-gap: 48px;
	}
}

.logo {
	width: 130px;
	height: auto;
	@include useScreen('tablet-sm') {
		width: 160px;
	}
	@include useScreen('desktop-sm') {
		width: 193px;
	}
}
