@use '~/styles/mixins' as *;

.OurPartners {
	scroll-margin-top: 80px;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	gap: 24px;
	@include useScreen('desktop-sm') {
		gap: 48px;
	}
}

.flexContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	row-gap: 24px;
	@include useScreen('mobile-md') {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@media screen and (min-width: 400px) {
		column-gap: 20px;
	}
	@media screen and (min-width: 750px) {
		column-gap: 50px;
	}
	@include useScreen('tablet-sm') {
		column-gap: 21px;
	}
	@media screen and (min-width: 950px) {
		column-gap: 82px;
	}
	@media screen and (min-width: 1090px) {
		column-gap: 129px;
	}
	@include useScreen('desktop-sm') {
		row-gap: 48px;
	}
	@include useScreen('desktop-md') {
		column-gap: 168px;
	}
}

.logo {
	width: 130px;
	height: auto;
	@include useScreen('tablet-sm') {
		width: 160px;
	}
	@include useScreen('desktop-sm') {
		width: 193px;
	}
}
