.LogInPage {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: var(--color--secondary-1);
}

.formFields {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 620px;
	margin: 0 auto;
	padding: 48px;
	border-radius: 5px;
	background-color: var(--color--shades-1);
	row-gap: 24px;
	justify-self: center;
}

.input {
	width: 100%;
}
