:root {
	--color--primary-1: #d9effc;
	--color--primary-2: #1479b1;
	--color--primary-3: #036399;
	--color--primary-4: #004d77;

	--color--secondary-1: #d5d9dd;
	--color--secondary-2: #9eadbd;
	--color--secondary-3: #777e90;
	--color--secondary-4: #1f252b;

	--color--warning-1: #ffdd01;

	--color--error-1: #e84e2c;

	--color--opacity-1: rgba(247, 247, 247, 0.65);
	--color--opacity-2: rgba(255, 255, 255, 0.32);

	--color--shades-1: #ffffff;
	--color--shades-2: #f4f5f6;

	--color--various-1: #276cb5;
	--color--various-2: #2a4397;

	--color--gradient-1: radial-gradient(191.95% 141.42% at 100% 0%, #ff0 0%, #ffd600 100%);
	--color--gradient-2: linear-gradient(180deg, #2298d4 0%, #2a3e93 100%);
}
