:root {
	--font-size--h1: 38px;
	--font-size--h1-mobile: 24px;
	--font-size--h2: 32px;
	--font-size--h2-mobile: 24px;
	--font-size--h3: 24px;
	--font-size--h3-mobile: 18px;
	--font-size--h4: 12px;
	--font-size--subtitle: 16px;
	--font-size--subtitle-mobile: 11px;
	--font-size--p: 16px;
	--font-size--button: 18px;
	--font-size--button-mobile: 16px;
	--font-size--header: 20px;
	--font-size--header-mobile: 16px;
	--font-size--footer: 18px;
	--font-size--footer-mobile: 16px;
	--font-size--various1: 64px;
	--font-size--various1-mobile: 38px;
	--font-size--various2: 36px;
	--font-size--various3: 24px;
	--font-size--various3-mobile: 16px;
}
