:root {
	--screen--desktop-xl: 1920px;
	--screen--desktop-lg: 1536px;
	--screen--desktop-md: 1440px;
	--screen--desktop-sm: 1366px;

	--screen--tablet-xl: 1280px;
	--screen--tablet-lg: 1024px;
	--screen--tablet-md: 960px;
	--screen--tablet-sm: 768px;

	--screen--mobile-xl: 540px;
	--screen--mobile-lg: 480px;
	--screen--mobile-md: 360px;
	--screen--mobile-sm: 0px;
}
