@use '~/styles/mixins' as *;

.arrowsContainer {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 16px 52px 16px;
	@include useScreen('tablet-sm') {
		padding: 0 32px 104px 32px;
	}
	@include useScreen('desktop-sm') {
		padding: 0 80px 88px 80px;
	}
}

.arrows {
	display: flex;
	padding: 8px 0;
	gap: 35px;
}

.arrow {
	display: flex;
	opacity: 0.9;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-style: none;
	border-radius: 3px;
	color: var(--color--primary-3);
	cursor: pointer;
	background-color: var(--color--shades-1);
	box-shadow: 0px -3px 0px 0px #3a416f00 inset, 0px 2px 4px 0px #2d234233, 0px 7px 10px -3px #2d23421a;
}
