@use '~/styles/mixins' as *;

.link {
	position: relative;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus {
		&::after {
			position: absolute;
			left: 0;
			content: '';
			width: 100%;
			height: 2px;
			opacity: 1;
		}
	}
	&:hover {
		&::after {
			background: var(--color--gradient-1);
		}
		p {
			color: var(--color--warning-1);
		}
	}

	&:active,
	&:focus {
		&::after {
			background: var(--color--primary-3);
		}
		p {
			color: var(--color--primary-3);
		}
	}
}
.header::after {
	top: 35px;
	@include useScreen('tablet-xl') {
		top: 40px;
	}
}
.footer::after {
	top: 25px;
	@include useScreen('tablet-xl') {
		top: 30px;
	}
}
