@use '~/styles/mixins' as *;

.link {
	position: relative;
	text-decoration: none;
	@include useOnHover {
		&::after {
			opacity: 1;
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			content: '';
			background: var(--color--gradient-1);
		}
		p {
			color: var(--color--warning-1);
		}
	}
	@include useOnClick {
		&::after {
			opacity: 1;
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			content: '';
			background: var(--color--primary-3);
		}
		p {
			color: var(--color--primary-3);
		}
	}
}
