@use '~/styles/mixins' as *;

// .Hero {
// 	border: 1px solid magenta;
// }
.positionRelative {
	position: relative;
}
.content {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: local;
	background-size: auto 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0 16px 52px 16px;
	height: 100%;
	gap: 10px;
	width: 100%;
	height: 528px;
	@include useScreen('mobile-md') {
		gap: 20px;
	}
	@include useScreen('mobile-lg') {
		gap: 30px;
	}
	@include useScreen('mobile-xl') {
		gap: 40px;
	}
	@include useScreen('tablet-sm') {
		gap: 101px;
		padding: 0 32px 104px 32px;
		height: 850px;
	}
	@include useScreen('desktop-md') {
		gap: 64px;
		height: 680px;
		padding: 0 80px 88px 80px;
	}
}

.banner1 {
	background-image: url('../../../../assets/images/hero/banner-1.jpg');
}
.banner2 {
	background-image: url('../../../../assets/images/hero/banner-2.jpg');
}
.banner3 {
	background-image: url('../../../../assets/images/hero/banner-3.jpg');
}
.text {
	display: flex;
	flex-direction: column;
	gap: 14px;

	@include useScreen('mobile-md') {
		gap: 16px;
	}
	@include useScreen('tablet-sm') {
		width: 100%;
		gap: 24px;
	}
	@include useScreen('desktop-md') {
		gap: 64px;
	}
}

.heading {
	width: 274px;
	@include useScreen('mobile-lg') {
		width: 315px;
	}
	@include useScreen('mobile-xl') {
		width: 450px;
	}
	@include useScreen('tablet-sm') {
		width: 490px;
	}
	@include useScreen('desktop-md') {
		width: 514px;
	}
}
.headingWidth {
	width: 321px;
	@include useScreen('mobile-lg') {
		width: 400px;
	}
	@include useScreen('mobile-xl') {
		width: 500px;
	}
	@include useScreen('tablet-sm') {
		width: 680px;
	}
	@include useScreen('desktop-md') {
		width: 675px;
	}
}
.arrowsGap {
	display: flex;
	gap: 35px;
	padding: 8px 0;
}
.buttonsGap {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	column-gap: 32px;
	@include useScreen('tablet-sm') {
		row-gap: 24px;
	}
	@include useScreen('desktop-md') {
		flex-direction: row;
	}
}
.arrows {
	position: absolute;
	bottom: 0;
	right: 0;

	padding: 0 16px 52px 16px;

	@include useScreen('tablet-sm') {
		padding: 0 32px 104px 32px;
	}
	@include useScreen('desktop-md') {
		padding: 0 80px 88px 80px;
	}
}
.arrow {
	width: 32px;
	height: 32px;
	box-shadow: 0px -3px 0px 0px #3a416f00 inset, 0px 2px 4px 0px #2d234233, 0px 7px 10px -3px #2d23421a;
	background-color: var(--color--shades-1);
	opacity: 0.9;
	border-style: none;
	border-radius: 3px;
	cursor: pointer;
}

.dots {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	display: flex;
	padding: 20px 4px;
	justify-content: center;
	align-items: center;
}

.dot {
	border: none;
	width: 5px;
	height: 5px;
	background: var(--color--shades-2);
	border-radius: 50%;
	margin: 0 6px;
	padding: 2.5px;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&.active {
		padding: 3.5px;
		background: var(--color--primary-3);
	}
}
.dotActive {
	border: none;
	width: 7px;
	height: 7px;
	background: var(--color--primary-3);
	border-radius: 50%;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
}
.whiteColor {
	color: var(--color--shades-1);
}
.blueColor {
	color: var(--color--primary-3);
}
